@charset "UTF-8";

/*
  em HTML é id = CSS é # (só pode um elemento)
  em HTML é class = CSS é . ( pode varios elementos)
*/

body{
    background-color: #e3f1ea;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2{
    color: rgb(73, 77, 49);
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}
.destaque{
    background-color: rgba(117, 117, 94, 0.39);
}