@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: wheat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(53, 53, 216, 0.432);
    color: lightyellow;
}

header h1 {
    text-align: center;
    padding: 10px;
}

header p{
    text-align: center;
    padding: 10px;
    line-height: 1em;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main h2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.3em;
    font-weight: normal;
    background-color: rgba(53, 53, 216, 0.432);
    background-image: linear-gradient(to right, (rgba(53, 53, 216, 0.432)), transparent);
    text-align: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;
}

main img{
    width: 100%;
}