@charset "UTF-8";
body {
    background-color: aquamarine;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: yellow;
    background-color: maroon;
}
h2{
color: pink;
}
p{
    text-align: justify;
}