@charset "UTF-8";

:root{
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: gray;
    color: white;
    padding: 1em;
    text-align: center;
}
nav a{
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
}
nav > a:hover{
    text-decoration: underline;
    color: black;
}
main{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
section{
    background-color: rgb(121, 77, 62);
    padding: 1em;
    border: 1px solid burlywood;
    box-shadow: 0 0 5px greenyellow;
}
section h1{
    background-color: gray;
    color: gray;
    background-image: linear-gradient(right, rgb(134, 19, 19), transparent);
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-weight: normal;*/
}
aside{
    background-color: rgb(192, 192, 192);
    padding: 1em;
   /* border: 1px solid rgba(218, 165, 32, 0.466);
    box-shadow: 0 0 10px greenyellow;*/
    width: 20%;
    float: right;
}
aside h2{
    background-color: linear-gradient(to right, var(--cor1), transparent);
    color: wheat;
}
footer{
    background-color: cadetblue;
    color: white;
    padding: 1em;
    text-align: center;
    clear: both;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media(max-width: 768px){
nav ul{
    flex-direction: row;
    padding: 10px;
}
main{
    padding: 15px;
}
section{
    padding: 0.5em;
}
aside{
    width: 100%;
    float: none;
}
}
