@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #aab6b9, #025E73);
}
main{ background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(119, 75, 75);
      width: 600px;
      padding: 10px;
      margin: auto;

}
h1{
    color: #6c17da;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(8, 6, 31);
}
h2{
    color: rgb(10, 4, 15);
}
p{
    text-align: justify;
}